<tr>
  <td><%= column.name %></td>
<td><%= column.cname %></td>
<td><%= column.dtype %></td>
<td><%= column.null_ind %></td>
<td><%= column.pk %></td>
<td><%= column.note %></td>
<% if current_user %>
    <td><%= link_to 'Destroy Column', [column.table, column],
    method: :delete,
     data: { confirm: 'Are you sure?' } %></td>
<% end %>
</tr>
