<tr>
  <td><%= table.name %></td>
  <td><%= table.cname %></td>
  <td><%= table.file %></td>
  <td><%= table.ptk %></td>
  <td><%= link_to 'Show', table %></td>
  <td><%= link_to_sql 'SQL', table.name, table.cname %></td>
</tr>
