<h1>Listing tables</h1>

<%= link_to "New model", new_table_path %>

<table>
    <tr>
      <th>name</th>
      <th>cname</th>
      <th>file</th>
      <th>ptk</th>
    </tr>

    <% @tables.each do |table| %>
    <tr>
        <td><%= table.name %></td>
        <td><%= table.cname %></td>
        <td><%= table.file %></td>
        <td><%= table.ptk %></td>
        <td><%= link_to 'Show', table %></td>
        <td><%= link_to 'Edit', edit_table_path(table) %></td>
        <td><%= link_to 'Destroy', table_path(table),
                          method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</table>
