<% provide(:title, 'Listing tables') %>
<h1>Listing tables</h1>

<%= form_tag tables_path, method: 'get' do %>
<p><%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", class: "btn" %></p>
<% end %>

<p>
  Download:
  <%= link_to "CSV", tables_path(format: "csv") %> |
</p>

<%= will_paginate %>
<table class="table table-condensed table-responsive">
    <tr>
        <th>name</th>
        <th>cname</th>
        <th>file</th>
        <th>ptk</th>
    </tr>
    <%= render @tables %>
</table>
<%= will_paginate %>

<% if current_user %>
    <%= link_to "New model", new_table_path %>
<% end %>
